/* UFSC color pallet:
    blue: #003893
    red: #FF0009
    black: #000000
    green: #009206
    yellow: #FEE300
*/

.footer, .footer:hover, .footer:visited {
    text-align: center;
    background-color: #003893;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
}

.padding-top-min {
    padding-top: 5px;
}

.margin-min {
    margin: 5px;
}

.margin-alert {
    margin: 15px 5px 5px 15px;
}

.btn-nav {
    border-radius: 0px;
    border: 0px;
}