<input class="form-control" type="text" ng-model="searchCriteria" placeholder="O que você está buscando?" />
<table class="table" ng-if="true">
    <tr>
        <th>Name</th>
        <th>Registry number</th>
        <th>Cellphone credit</th>
        <th>Card credit</th>
        <th><a>Add credits</a></th>
    </tr>
    <tr ng-class="" ng-repeat="student in student | filter:{name:searchCriteria}">
        <td>{{student.name}}</td>
        <td>{{student.registry}}</td>
        <td>{{student.registry}}</td>
        <td>{{contato.data | date: 'EEE, dd/MM/yyyy'}}</td>
    </tr>
</table>