<div class="container jumbotron">
    <hr ng-show="dataAvailable" />
    <div class="row" ng-show="dataAvailable">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"># Subscribed students</div>
                <div class="panel-body">{{info.subscribedStudents}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"># Students inside RU</div>
                <div class="panel-body">{{info.insideRU}}</div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="dataAvailable">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"># Meals served in the last lunch time</div>
                <div class="panel-body">{{info.lastLunch}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"># Meals served in the last dinner time</div>
                <div class="panel-body">{{info.lastDinner}}</div>
            </div>
        </div>
    </div>
    <hr ng-show="dataAvailable" />
    <a ng-show="dataAvailable" class="btn btn-primary btn-block" ng-click="refresh()">Refresh</a>
    <div ng-show="showAlert" class="alert text-center margin-alert" ng-class="getColor()">{{errorText}}</div>
</div>