<div class="container jumbotron">
    <hr />
    <form name="editPasswordForm">
        <input class="form-control margin-min" type="password" ng-model="user.oldPassword" name="oldPassword" placeholder="Type your old password" ng-required="true" />
        <input class="form-control margin-min" type="password" ng-model="user.newPassword" name="newPassword" placeholder="Type your new password" ng-required="true" />
        <input class="form-control margin-min" type="password" ng-model="user.newPasswordConfirm" name="newPasswordConfirm" placeholder="Confirm your new passoword" ng-required="true" />
    </form>
    <hr />
    <a class="btn btn-primary btn-block" ng-click="editPasswordForm.$invalid || updatePassword(user)" ng-disabled="editPasswordForm.$invalid">Update password</a>
    <div ng-if="showAlert" class="alert text-center margin-alert" ng-class="getColor()">{{errorText}}</div>
</div>